.label-error{
    display: none;
}

.is-invalid + .label-error{
    display: block;
    color: red;
}

.navbar-brand img{
    height: 1rem;
}

.notif-val-same{
    color:red;
}

#modal-loading .modal-dialog .modal-content{
    background-color: transparent;
    border: none;
    color: white;
    box-shadow: none !important;
}

#modal-loading .modal-dialog .modal-content .spinner{
    font-size: 60px;
}

#modal-loading .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
}

.card>.dataTables_wrapper .table-bordered {
    border: 1px solid #ddd;
}

.card-table{
    padding: 0 1.2rem !important;
}

.sidebar {
    width: 16.875rem;
}

@media (min-width: 768px){
    .sidebar-expand-md.sidebar-main .sidebar-content {
        width:13.875rem;
    }
}